html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html{
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav-button{
  border: 1px solid transparent;
}
.nav-button:hover{
  border: 1px solid #9268f3;
  color: #7d50e7;
}
.nav-button:active{
  border: 1px solid #9268f3;
  color: #7d50e7;
}
.nav-list {
  background-color: #9268f3;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    /* color: #e7e8e7; */
  }
}


/* Index design */

.index-header{
  background-color: white;
  background-image:
    radial-gradient(circle at 0% 10%, #e7cbfc, white 20%, 40%, transparent),
    radial-gradient(circle at 100% 50%, #e0c0f8, white 20%, 25%, transparent),
    radial-gradient(100% 150% at 50% 5%, #a4ffce, white 25%, 20%, transparent),
    radial-gradient(150% 200% at 50% 100%, #a4ffce, white 20%);
}

.index-trend {
  background-color: white;
  background-image:
    radial-gradient(150% 150% at 50% 0%, #c1ffde, white 20%, 20%, transparent),
    radial-gradient(150% 200% at 50% 95%, #a4ffce, white 20%);
}