html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html{
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.nav-button{
  border: 1px solid transparent;
}
.nav-button:hover{
  border: 1px solid #9268f3;
  color: #7d50e7;
}
.nav-button:active{
  border: 1px solid #9268f3;
  color: #7d50e7;
}
.nav-list {
  background-color: #9268f3;
}


/* Index design */

.index-header{
  background-image:
    radial-gradient(circle at 0% 10%, #e7cbfc, transparent 20%, 40%, transparent),
    radial-gradient(circle at 100% 50%, #e0c0f8, transparent 20%, 25%, transparent),
    radial-gradient(100% 150% at 50% 5%, #a4ffce, transparent 25%, 20%, transparent),
    radial-gradient(150% 200% at 50% 100%, #a4ffce, transparent 20%);
}

.index-trend {
  background-image:
    radial-gradient(150% 150% at 50% 0%, #c1ffde, transparent 20%, 20%, transparent),
    radial-gradient(circle at 0% 100%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(150% 200% at 50% 95%, #a4ffce, transparent 20%);
}
.index-latest {
  background-image:
    radial-gradient(150% 150% at 50% 0%, #a4ffce, transparent 20%, 20%, transparent),
    radial-gradient(circle at 0% 0%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(circle at 100% 100%, #e0c0f8, transparent 20%);
}
.index-hiw {
  background-image:
    radial-gradient(circle at 100% 0%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(150% 150% at 50% 100%, #c1ffde, transparent 20%);
}
.index-team{
  background-image:
    radial-gradient(150% 150% at 50% 0%, #c1ffde, transparent 20%, 20%, transparent),
    radial-gradient(circle at 0% 90%, #e0c0f8, transparent 20%);

}

/* About design */
.about-wrapper{
  background-image:
    radial-gradient(circle at 100% 30%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(100% 100% at 0% 100%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(100% 150% at 50% 0%, #a4ffce, transparent 25%, 20%, transparent),
    radial-gradient(circle at 50% 70%, #e0c0f8, transparent 20%);
}
/* Event design */
.event-wrapper{
  background-image:
    radial-gradient(100% 100% at 0% 100%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(100% 30% at 60% 0%, #a4ffce, transparent 20%, 20%, transparent),
    radial-gradient(circle at 0% 0%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(circle at 100% 50%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(circle at 0% 50%, #e0c0f8, transparent 20%, 20%, transparent),
    radial-gradient(circle at 50% 50%, #a4ffce, transparent 20%);
}

/* Portfolio design */
.portfolio-wrapper, .profile-wrapper, .create-wrapper {
  background-image:
  radial-gradient(circle at 0% 0%, #e0c0f8, transparent 20%, 20%, transparent),
  radial-gradient(circle at 100% 50%, #e0c0f8, transparent 20%, 20%, transparent),
  radial-gradient(100% 100% at 60% 0%, #a4ffce, transparent 20%, 20%, transparent),
  radial-gradient(100% 100% at 0% 100%, #e0c0f8, transparent 20%, 20%, transparent);
}
/* Upload design */

/* buy ticket design */
.buy-ticket-wrapper{
  background:
  radial-gradient(100% 100% at 0% 100%, #e0c0f8, transparent 20%, 20%, transparent),
  radial-gradient(100% 100% at 60% 0%, #a4ffce, transparent 20%, 20%, transparent),
  radial-gradient(circle at 0% 0%, #e0c0f8, transparent 20%, 20%, transparent),
  radial-gradient(circle at 100% 50%, #e0c0f8, transparent 20%, 20%, transparent);
}
/* XTkX6VmBsSxu-v2opnHp51RqBIpbaRmJUY4HN7q3wgqBB04G */

/* 9hfHXbWxs0xBGBolrg3pvlFWPl1rkjz9hyTe98gJbH8O6F7j */
